body { 
    padding-top: 82px; 
}

.poster {
    margin:8px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posterWithRating {
    position: relative;
    width: 190px;
    height: 274px;
}

.overlay { 
   position: absolute; 
   top: -128px;
   left: 167px;
   width: 30px;
   
   text-align: center;
   padding: 2px;
   color: white; 
   background: rgb(0, 0, 0); /* fallback color */
   background: #455a64;
}

@media (min-width: 0px) and (max-width: 768px) {
    .poster {
        margin: 0px;
    }
}

.navbar-default {
    background-color: #607D8B !important;
}

.panel-primary>.panel-heading {
    background-color: #455A64 !important;
}

.panel-body#imdbRating, .panel-body#avgUserRating  {
    padding: 0px;
}

.btn-primary.btn-raised {
    background-color: #455A64 !important;
}

.btn-primary#createUser {
    color: #455A64 !important;
}
